<div class="headers" [ngSwitch]="role">
<header class="header--user" *ngSwitchDefault>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button routerLink="" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h1  class="header__title">S-Shop</h1>
      <span></span>
      <div>
        <a routerLink="catalog" class="header__item" mat-button> Каталог товаров </a>
        <a class="header__item" mat-button (click)="openModalRegister()"> Создать аккаунт </a>
<!--        <a class="header__item" mat-button (click)="openTestModal()"> Test </a>-->
      </div>

      <button class="login-button header__item" [matMenuTriggerFor]="menu" mat-stroked-button>
        <a mat-button> Войти </a>
        <mat-icon matSuffix>perm_identity</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openModalLogin()">Войти</button>
        <button mat-menu-item (click)="openModalRegister()">Зарегистрироваться</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<header class="header--admin" *ngSwitchCase="'ROLE_ADMIN'">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="header__title">S-Shop CRM System</h1>

      <button class="login-button header__item" mat-stroked-button>
        <a mat-button (click)="logout()"> Выйти </a>
        <mat-icon matSuffix>exit_to_app</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div>
        <a routerLink="catalog"  class="header__item" mat-button> Каталог товаров </a>
        <a class="header__item" mat-button> Категории</a>
        <a routerLink="company-list" class="header__item" mat-button> Компании</a>
        <a class="header__item" mat-button> Склады</a>
        <a routerLink="user-list" class="header__item" mat-button> Пользователи</a>
        <a class="header__item" mat-button> Заказы</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<header class="header--client" *ngSwitchCase="'ROLE_CLIENT'">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="header__title">S-Shop</h1>

      <button class="login-button header__item" mat-stroked-button>
        <a mat-button (click)="logout()"> Выйти </a>
        <mat-icon matSuffix>exit_to_app</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div>
        <a routerLink="catalog"  class="header__item" mat-button> Каталог товаров </a>
        <a class="header__item" mat-button> Категории</a>
        <a class="header__item" mat-button> Корзина</a>
        <a class="header__item" mat-button> Мои заказы</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
</div>
<router-outlet></router-outlet>

<footer>
  <mat-toolbar color="primary">
    <mat-toolbar-row>

    </mat-toolbar-row>
  </mat-toolbar>
</footer>
