<div class="catalog">
  <div class="catalog__checkbox">
    <p class="catalog__checkbox-title">Категория</p>
    <label class="catalog__checkbox-item">
      <input type="checkbox" >
      <span></span>
      Одежда
    </label>
    <label class="catalog__checkbox-item">
      <input type="checkbox" >
      <span></span>
      Обувь
    </label>
    <label class="catalog__checkbox-item">
      <input type="checkbox" >
      <span></span>
      Акссесуары
    </label>
    <p class="catalog__checkbox-title">Название бренда</p>
    <label class="catalog__checkbox-item">
      <input type="checkbox" >
      <span></span>
      Nike
    </label>
    <label class="catalog__checkbox-item">
      <input type="checkbox" >
      <span></span>
      Puma
    </label>
    <label class="catalog__checkbox-item">
      <input type="checkbox" >
      <span></span>
      Adidas
    </label>
    <label class="catalog__checkbox-item">
      <input type="checkbox" >
      <span></span>
      Under Armor
    </label>
    <p class="catalog__checkbox-title">Цена</p>
    <label class="catalog__checkbox-item">
      <input type="checkbox" >
      <span></span>
      <5000
    </label>
    <label class="catalog__checkbox-item">
      <input type="checkbox" >
      <span></span>
      5000-1000
    </label>
    <label class="catalog__checkbox-item">
      <input type="checkbox" >
      <span></span>
      >10000
    </label>
    <label class="catalog__checkbox-item">
      <input type="checkbox" >
      <span></span>
      >20000
    </label>
    <div class="catalog__checkbox-but">
      <button class="catalog__checkbox-but__item">Применить</button>
      <button class="catalog__checkbox-but__item">Сбросить</button>
    </div>



  </div>

  <div class="catalog__list">

  </div>
</div>
